<?xml version="1.0" encoding="UTF-8"?>
<!--
  IIS reverse proxy: gelen tum istekleri localhost:3000'de calisan
  Next.js prod sunucusuna (npm run start) yonlendirir.
  Onkosul: URL Rewrite Module + Application Request Routing (ARR) kurulu
  ve ARR proxy modu etkin olmali (bkz. scripts/setup-iis.ps1).
-->
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="ReverseProxyToNextJs" stopProcessing="true">
          <match url="(.*)" />
          <action type="Rewrite" url="http://127.0.0.1:3000/{R:1}" />
          <serverVariables>
            <set name="HTTP_X_FORWARDED_HOST" value="{HTTP_HOST}" />
          </serverVariables>
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
